@import variables
@import bootstrap

html, body, #application_wrapper, .application
  height 100%

#grid-container
  height 88%

#outer-row, #chat-column
  height 100%

.noDrag
  -webkit-app-region no-drag

.titleBar
  -webkit-app-region drag

.chatPanel
  height 100%
  .messages
    height 90%
    overflow-y auto
    white-space pre-wrap
    ul
      padding 0
    .message
      padding-left .25em
      list-style none
      .timestamp
        color #aaa
        padding-right .5em
    .chatMessage
      &.alternate
        background-color #212121
      .nick
        padding-right .5em
        font-weight bold
        font-size 1.25em

.viewerList
  overflow-y auto
  height 100%
  white-space pre-wrap